*{
	margin: 0;
/*	padding: 0;*/
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: black;
}

ul{
	list-style: none;
	color: #707070;
	border: #707070;
}

img{
	max-width: 100%;
}


li{
	margin-bottom:20px;
}

section{
	top: 207px;
	left: 140px;
	width: 1640px;
	height: 613px;
}

.statias{

	width: 512px;
	height: 53px;
	margin-top: 138px;
	color: #707070;
	border: #707070;

}
article img{
	width: 483px;
	height: 282px;
	opacity: 100%;
	margin-top: 70px;
}
article h4{
	color: #707070;
	border: #707070;
	margin-top:20px ;
	margin-bottom: 33px;
}

.team-1{
	border:1px solid #707070;
}

article img{
	width: 483px;
	height: 282px;
	opacity: 100%;
	margin-top: 70px;
}

div{
	border: 1px solid #707070;
}

p{
	color: #707070;
}

article{
	border: 1px solid #707070;
}
